<!-- <footer>
    <div class="container-footer">
        <div class="container">
            <div class="logo-container">
                <img src="../../../assets/images/Fanscore Logo.png" alt="">
                <span>Fanscore</span>
            </div>
            <div class="desc">
                Büyük sayılar teorimine dayanan gerçek piyasa değeri tahmin platformu.
            </div>
            <div class="copyright">
                <p>Copyright © 2026 Fanscore. All rights reserved.</p>
            </div>
        </div>
        <div class="container">
            <h2>Keşfet</h2>
            <ul>
                <li>Oyuncuları Puanla</li>
                <li>Takımları Gör</li>
                <li>Merch</li>
                <li>Halı Saha Ayarla</li>
            </ul>
        </div>

        <div class="container">
            <h2>Kurumsal</h2>
            <ul>
                <li>Hakkımızda</li>
                <li>S.S.S</li>
                <li>Büyük Sayılar Teorisi</li>
                <li>İletişim</li>
            </ul>
        </div>

        <div class="container">
            <h2>Yardım</h2>
            <ul>
                <li>KVKK</li>
                <li>Gizlilik Politikası</li>
                <li>Hizmet Koşulları</li>
                <li>Dökümantasyon</li>
            </ul>
        </div>
       
    </div>
</footer> -->