<header>
    <nav>
        <div class="left-header part-header">
            <div class="logo-container d">
                <img src="../../../assets/images/Fanscore Logo.png" alt="">
                <span>Fanscore</span>
            </div>

            <div class="activities d">
                <div class="merch btn-style">
                    🛍️ Merch
                </div>

                <div class="tournements btn-style">
                    ⚽ Halısaha Ayarla
                </div>
            </div>
        </div>

        <div class="right-header part-header d">
            <div class="search-container">
                <input type="text" placeholder="🔍 Bir Oyuncu Arayın...">
            </div>

            <div class="trend-ratio">

            </div>

            <div class="actions d btn-style">

                <div class="view btn-style">
                    Görünüm
                </div>

                <div class="shuffle btn-style">
                    🔀 Karıştır
                </div>

                <div class="reset-trends btn-style">
                    🔥 Trendler
                </div>
            </div>

            <div class="login-btn btn-style">
                <i style="margin-right: 7px; font-size: 14px;" class="fa-solid fa-user"></i>Giriş Yap
            </div>
        </div>
    </nav>
</header>
