<header>
    <nav>
        <div class="left-header">
            <div class="logo-container">
                <img src="" alt="">
            </div>

            <div class="activities">
                <div class="merch">
                    Merch
                </div>

                <div class="tournements">
                    Halısaha
                </div>
            </div>
        </div>

        <div class="right-header">
            <div class="search-container">
                <input type="text" placeholder="Oyuncu Arayın">
            </div>

            <div class="trend-ratio">

            </div>

            <div class="actions">
                <div class="shuffle">
                    Karıştır
                </div>

                <div class="reset-trends">
                    Trendleri Sıfırla
                </div>
            </div>

            <div class="login-btn">
                
            </div>
        </div>
    </nav>
</header>