<header class="main-header">
    <nav>
      <div class="bg">

      </div>
        <div class="left-header part-header">
            <a routerLink="/" class="logo-container d">
                <img src="../../../assets/images/Fanscore Logo.png" alt="">
                <span>Fanscore</span>
            </a>

            <div class="activities d">
                <a routerLink="/merch" class="merch btn-style">
                    🛍️ Merch
                </a>

                <a routerLink="/halisaha" class="tournements btn-style">
                    ⚽ Halısaha Ayarla
                </a>
            </div>
        </div>

        <div class="right-header part-header d">
            <!-- <div class="search-container">
                <input type="text" placeholder="🔍 Bir Oyuncu veya Takım Arayın...">
            </div> -->

            <div class="trend-ratio">

            </div>

            <!-- <div class="actions d btn-style">

                <div class="view btn-style">
                    Görünüm
                </div>

                <div class="shuffle btn-style">
                    🔀 Karıştır
                </div>

                <div class="reset-trends btn-style">
                    🔥 Trendler
                </div>
            </div> -->



            <a  routerLink="/teams" class="teams-btn btn-style">
                <i style="margin-right: 7px; font-size: 14px;" class="fa-solid fa-shirt"></i>
                <span>Tüm Takımlar</span>
            </a>

            <a  routerLink="/last-matches" class="l-m-btn btn-style">
                <i style="margin-right: 7px; font-size: 14px;" class="fa-solid fa-futbol"></i>
                <span>Son Maçlar</span>
            </a>

            <a *ngIf="!(isLoggedIn$ | async)" routerLink="/login" class="login-btn btn-style">
                <i style="margin-right: 7px; font-size: 14px;" class="fa-solid fa-user"></i>
                <span>Giriş Yap</span>
            </a>

            <a style="background-color: rgb(27, 165, 0);" *ngIf="isLoggedIn$ | async" routerLink="/profile" class="login-btn btn-style">
                <i style="margin-right: 7px; font-size: 14px;" class="fa-solid fa-user"></i>
                <span>Profil</span>
            </a>

            <a (click)="onLogout()" style="background-color: red;" *ngIf="isLoggedIn$ | async" routerLink="/login" class="login-btn btn-style">
                <i style="margin-right: 7px; font-size: 14px;" class="fa-solid fa-user"></i>
                <span>Çıkış Yap</span>
            </a>
        </div>
    </nav>
</header>

<header style="opacity: 0; pointer-events: none; position: relative; z-index: 0;">
    <nav>
        <div class="left-header part-header">
            <a routerLink="/" class="logo-container d">
                <img src="../../../assets/images/Fanscore Logo.png" alt="">
                <span>Fanscore</span>
            </a>

            <div class="activities d">
                <a routerLink="/merch" class="merch btn-style">
                    🛍️ Merch
                </a>

                <a routerLink="/halisaha" class="tournements btn-style">
                    ⚽ Halısaha Ayarla
                </a>
            </div>
        </div>

        <div class="right-header part-header d">
            <div class="search-container">
                <input type="text" placeholder="🔍 Bir Oyuncu veya Takım Arayın...">
            </div>

            <div class="trend-ratio">

            </div>

            <div class="actions d btn-style">

                <div class="view btn-style">
                    Görünüm
                </div>

                <div class="shuffle btn-style">
                    🔀 Karıştır
                </div>

                <div class="reset-trends btn-style">
                    🔥 Trendler
                </div>
            </div>

            <a routerLink="/login" class="login-btn btn-style">
                <i style="margin-right: 7px; font-size: 14px;" class="fa-solid fa-user"></i>Giriş Yap
            </a>
        </div>
    </nav>
</header>
